label {
    font-size: 0.875rem;
    display: block;

    &:has(> input[type="checkbox"]),
    &:has(> input[type="radio"]) {
        cursor: pointer;
        user-select: none;
        margin-top: 2px;
    }

    & > input[type="checkbox"],
    & > input[type="radio"] {
        margin-top: -2px;
    }
}

form.form {
    & > label {
        margin-bottom: 0.25em;
    }

    & > :not(:last-child):not(label:not(:has(*))) {
        margin-bottom: $form-space;
    }

    @supports not selector(:has(*)) {
        & > :not(:last-child) {
            margin-bottom: $form-space;
        }
    }
}

.verify:invalid:not(:focus) {
    color: var(--verify-c, #f00) !important;
    border-color: var(--verify-c, #f00) !important;
}

.horizontal {
    &
        > *:not(
            :where(
                    input[type="button"],
                    input[type="submit"],
                    input[type="reset"],
                    button,
                    .b,
                    .btn,
                    .button
                )
        ) {
        display: flex;
        align-items: center;

        & > :first-child,
        & > :not(:last-child) {
            margin-right: 0.5em;
        }

        & > label {
            width: 8em;
            max-width: 30%;
            margin-bottom: 0;
        }

        &
            > :where(
                input[type="text"],
                input[type="email"],
                input[type="password"],
                input[type="number"],
                input[type="tel"],
                input[type="url"],
                input[type="search"],
                input[type="date"],
                input[type="datetime-local"],
                input[type="month"],
                input[type="time"],
                input[type="week"],
                select,
                textarea
            ) {
            flex-grow: 1;
            flex-basis: min-content;
        }
    }
}

$padding-ratio-x: ($padding-ratio - 1) * 0.5 + 1;

@import "forms/button";
@import "forms/checkbox-radio-switch";
@import "forms/color";
@import "forms/file";
@import "forms/group";
@import "forms/input";
@import "forms/range";
@import "forms/select";
@import "forms/textarea";
