@if $font == "Inter" {
    @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url("font/Inter-roman.var.woff2") format("woff2"),
            url("https://cdn.jsdelivr.net/npm/csslandia/font/Inter-roman.var.woff2")
                format("woff2");
    }

    @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: "Italic";
        src: url("font/Inter-italic.var.woff2") format("woff2"),
            url("https://cdn.jsdelivr.net/npm/csslandia/font/Inter-italic.var.woff2")
                format("woff2");
    }
    html {
        font-family: "Inter var", sans-serif;
    }
} @else {
    html {
        font-family: $font, $font-family;
    }
}

@if $color-mode == dark {
    :root {
        --c-strong: #{$dark-c-strong};
        --c-soft: #{$dark-c-soft};
        --bg-strong: #{$dark-bg-strong};
        --bg-medium: #{$dark-bg-medium};
        --bg-medium-2: #{$dark-bg-medium}3;
        --bg-medium-4: #{$dark-bg-medium}6;
        --bg-medium-6: #{$dark-bg-medium}9;
        --bg-medium-8: #{$dark-bg-medium}c;
        --bg-soft: #{$dark-bg-soft};
        --bd: #{$dark-bd};
        --accent: #{$dark-accent};
        --accent-c: #{$dark-accent-c};
    }
} @else {
    :root {
        --c-strong: #{$light-c-strong};
        --c-soft: #{$light-c-soft};
        --bg-strong: #{$light-bg-strong};
        --bg-medium: #{$light-bg-medium};
        --bg-medium-2: #{$light-bg-medium}3;
        --bg-medium-4: #{$light-bg-medium}6;
        --bg-medium-6: #{$light-bg-medium}9;
        --bg-medium-8: #{$light-bg-medium}c;
        --bg-soft: #{$light-bg-soft};
        --bd: #{$light-bd};
        --accent: #{$light-accent};
        --accent-c: #{$light-accent-c};
    }
}

@if $color-mode != light and $color-mode != dark {
    :root.dark {
        --c-strong: #{$dark-c-strong};
        --c-soft: #{$dark-c-soft};
        --bg-strong: #{$dark-bg-strong};
        --bg-medium: #{$dark-bg-medium};
        --bg-medium-2: #{$dark-bg-medium}3;
        --bg-medium-4: #{$dark-bg-medium}6;
        --bg-medium-6: #{$dark-bg-medium}9;
        --bg-medium-8: #{$dark-bg-medium}c;
        --bg-soft: #{$dark-bg-soft};
        --bd: #{$dark-bd};
        --accent: #{$dark-accent};
        --accent-c: #{$dark-accent-c};
        color-scheme: dark;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;

    @if $italic-all {
        font-style: italic;
    }
}

html {
    background-color: var(--bg-strong);
    color: var(--c-soft);
    min-height: 100vh;
    min-height: 100dvh;
    height: 100%;
    scroll-behavior: smooth;
    transition: 0.25s * $transition-ratio;
    line-height: 1.4;

    @if $color-mode == dark {
        color-scheme: dark;
    }
}

/*! purgecss start ignore */
:where(a) {
    color: $a-c;
    text-decoration: $a-decoration;
    cursor: pointer;
    transition: color 0.3s * $transition-ratio;
}

a:where(:hover, :focus, :active) {
    color: $a-hover-c;
    text-decoration: $a-hover-decoration;
}

:where(h1, h2, h3, h4, h5, h6, th) {
    color: var(--c-strong);
    font-weight: 600;
}

[class^="c-"],
[class*=" c-"],
.bg-a {
    & :where(a),
    & a:where(:hover, :focus, :active),
    & :where(h1, h2, h3, h4, h5, h6, th) {
        color: inherit;
    }
}

:where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
}

:where(img, video, canvas) {
    display: block;
    max-width: 100%;
}

:where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ) {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    cursor: pointer;
}

::selection {
    @if $selection-bg {
        background-color: $selection-bg;
    }
    @if $selection-c {
        color: $selection-c;
    }
}

.disabled,
:disabled,
[disabled] {
    opacity: 0.6666666667 !important;
    cursor: default !important;
}
/*! purgecss end ignore */
