$p: "%";

@mixin height($prefix) {
    .#{$prefix}h-auto,
    .#{$prefix}max-h-auto,
    .#{$prefix}min-h-auto {
        height: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}h-#{$i} {
            height: nth($i) !important;
        }
    }

    @for $i from 0 to 21 {
        .#{$prefix}max-h-#{$i} {
            max-height: nth($i) !important;
        }
    }

    @for $i from 0 to 21 {
        .#{$prefix}min-h-#{$i} {
            min-height: nth($i) !important;
        }
    }

    @for $i from 1 to 11 {
        .#{$prefix}h-#{$i * 10}\% {
            height: #{$i * 10}#{$p} !important;
        }
    }

    @for $i from 1 to 11 {
        .#{$prefix}h-#{$i * 10}vh {
            height: #{$i * 10}vh !important;
        }
    }

    .#{$prefix}h-min {
        height: min-content !important;
    }

    .#{$prefix}h-fit {
        height: fit-content !important;
    }

    .#{$prefix}h-max {
        height: max-content !important;
    }

    .#{$prefix}min-h-min {
        min-height: min-content !important;
    }

    .#{$prefix}min-h-fit {
        min-height: fit-content !important;
    }

    .#{$prefix}min-h-max {
        min-height: max-content !important;
    }

    .#{$prefix}max-h-min {
        max-height: min-content !important;
    }

    .#{$prefix}max-h-fit {
        max-height: fit-content !important;
    }

    .#{$prefix}max-h-max {
        max-height: max-content !important;
    }
}

@if ($width-height) {
    @include height("");

    @if ($width-height-prefixes) {
        @media (width < $mob-tab-breakpoint) {
            @include height(mob\:);
        }

        @media (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
            @include height(tab\:);
        }

        @media (width >= $tab-pc-breakpoint) {
            @include height(pc\:);
        }
    }
}
