@mixin height($prefix) {
    .#{$prefix}h-auto,
    .#{$prefix}max-h-auto,
    .#{$prefix}min-h-auto {
        height: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}h-#{$i} {
            height: nth($i) !important;
        }
    }

    @for $i from 0 to 21 {
        .#{$prefix}max-h-#{$i} {
            max-height: nth($i) !important;
        }
    }

    @for $i from 0 to 21 {
        .#{$prefix}min-h-#{$i} {
            min-height: nth($i) !important;
        }
    }

    .#{$prefix}h-100vh {
        height: 100vh !important;
        height: 100dvh !important;
    }
    .#{$prefix}min-h-100vh {
        min-height: 100vh !important;
        min-height: 100dvh !important;
    }
    .#{$prefix}max-h-100vh {
        max-height: 100vh !important;
        max-height: 100dvh !important;
    }

    .#{$prefix}h-min {
        height: min-content !important;
    }

    .#{$prefix}h-fit {
        height: fit-content !important;
    }

    .#{$prefix}h-max {
        height: max-content !important;
    }

    .#{$prefix}min-h-min {
        min-height: min-content !important;
    }

    .#{$prefix}min-h-fit {
        min-height: fit-content !important;
    }

    .#{$prefix}min-h-max {
        min-height: max-content !important;
    }

    .#{$prefix}max-h-min {
        max-height: min-content !important;
    }

    .#{$prefix}max-h-fit {
        max-height: fit-content !important;
    }

    .#{$prefix}max-h-max {
        max-height: max-content !important;
    }
}

@if ($width-height) {
    @include height("");

    @if ($width-height-prefixes) {
        @media (width < $mob-tab-breakpoint) {
            @include height(mob\:);
        }

        @media (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
            @include height(tab\:);
        }

        @media (width >= $tab-pc-breakpoint) {
            @include height(pc\:);
        }
    }
}

@mixin percentage-height($prefix) {
    .#{$prefix}h-10\% {
        height: 10% !important;
    }

    .#{$prefix}h-20\% {
        height: 20% !important;
    }

    .#{$prefix}h-30\% {
        height: 30% !important;
    }

    .#{$prefix}h-40\% {
        height: 40% !important;
    }

    .#{$prefix}h-50\% {
        height: 50% !important;
    }

    .#{$prefix}h-60\% {
        height: 60% !important;
    }

    .#{$prefix}h-70\% {
        height: 70% !important;
    }

    .#{$prefix}h-80\% {
        height: 80% !important;
    }

    .#{$prefix}h-90\% {
        height: 90% !important;
    }

    .#{$prefix}h-100\% {
        height: 100% !important;
    }
}

@if ($width-height) {
    @include percentage-height("");

    @if ($width-height-prefixes) {
        @media (width < $mob-tab-breakpoint) {
            @include percentage-height(mob\:);
        }

        @media (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
            @include percentage-height(tab\:);
        }

        @media (width >= $tab-pc-breakpoint) {
            @include percentage-height(pc\:);
        }
    }
}
