$m: "-";

@mixin margin($prefix) {
    @for $i from 0 to 21 {
        .#{$prefix}m-#{$i} {
            margin: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}m--#{$i} {
            margin: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}m-auto {
        margin: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}mx-#{$i} {
            margin-inline: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}mx--#{$i} {
            margin-inline: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}mx-auto {
        margin-inline: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}my-#{$i} {
            margin-block: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}my--#{$i} {
            margin-block: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}my-auto {
        margin-block: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}ml-#{$i} {
            margin-left: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}ml--#{$i} {
            margin-left: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}ml-auto {
        margin-left: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}mr-#{$i} {
            margin-right: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}mr--#{$i} {
            margin-right: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}mr-auto {
        margin-right: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}mt-#{$i} {
            margin-top: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}mt--#{$i} {
            margin-top: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}mt-auto {
        margin-top: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}mb-#{$i} {
            margin-bottom: nth($i) !important;
        }
    }
    @for $i from 1 to 21 {
        .#{$prefix}mb--#{$i} {
            margin-bottom: #{$m} + nth($i) !important;
        }
    }
    .#{$prefix}mb-auto {
        margin-bottom: auto !important;
    }
}

@if $margin-padding {
    @include margin("");

    @if $margin-padding-prefixes {
        @media (width < $mob-tab-breakpoint) {
            @include margin(mob\:);
        }

        @media (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
            @include margin(tab\:);
        }

        @media (width >= $tab-pc-breakpoint) {
            @include margin(pc\:);
        }
    }
}
