@mixin padding($prefix) {
    @for $i from 0 to 21 {
        .#{$prefix}p-#{$i} {
            padding: nth($i) !important;
        }
    }
    .#{$prefix}p-auto {
        padding: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}px-#{$i} {
            padding-inline: nth($i) !important;
        }
    }
    .#{$prefix}px-auto {
        padding-inline: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}py-#{$i} {
            padding-block: nth($i) !important;
        }
    }
    .#{$prefix}py-auto {
        padding-block: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}pl-#{$i} {
            padding-left: nth($i) !important;
        }
    }
    .#{$prefix}pl-auto {
        padding-left: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}pr-#{$i} {
            padding-right: nth($i) !important;
        }
    }
    .#{$prefix}pr-auto {
        padding-right: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}pt-#{$i} {
            padding-top: nth($i) !important;
        }
    }
    .#{$prefix}pt-auto {
        padding-top: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}pb-#{$i} {
            padding-bottom: nth($i) !important;
        }
    }
    .#{$prefix}pb-auto {
        padding-bottom: auto !important;
    }
}

@if $margin-padding {
    @include padding("");

    @if $margin-padding-prefixes {
        @media (width < $mob-tab-breakpoint) {
            @include padding(mob\:);
        }

        @media (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
            @include padding(tab\:);
        }

        @media (width >= $tab-pc-breakpoint) {
            @include padding(pc\:);
        }
    }
}
