.shadow-xs {
    box-shadow: 0 0 0.15rem 0.1rem var(--shadow, var(--bg-medium));
}
.shadow-sm {
    box-shadow: 0 0 0.3rem 0.2rem var(--shadow, var(--bg-medium));
}
.shadow,
.shadow-md {
    box-shadow: 0 0 0.45rem 0.3rem var(--shadow, var(--bg-medium));
}
.shadow-lg {
    box-shadow: 0 0 0.6rem 0.4rem var(--shadow, var(--bg-medium));
}
.shadow-xl {
    box-shadow: 0 0 0.75rem 0.5rem var(--shadow, var(--bg-medium));
}
