.fs-0 {
    font-size: 0 !important;
}

.fs-1 {
    font-size: 0.5rem !important;
}

.fs-2 {
    font-size: 0.625rem !important;
}

.fs-3 {
    font-size: 0.75rem !important;
}

.fs-4 {
    font-size: 0.875rem !important;
}

.fs-5 {
    font-size: 1rem !important;
}

.fs-6 {
    font-size: calc(1.125rem + 0.1vw) !important;
    line-height: 1.37;
}
.fs-7 {
    font-size: calc(1.25rem + 0.15vw) !important;
    line-height: 1.34;
}
.fs-8 {
    font-size: calc(1.375rem + 0.225vw) !important;
    line-height: 1.31;
}
.fs-9 {
    font-size: calc(1.5rem + 0.335vw) !important;
    line-height: 1.28;
}
.fs-10 {
    font-size: calc(1.625rem + 0.5vw) !important;
    line-height: 1.25;
}
.fs-11 {
    font-size: calc(1.75rem + 0.75vw) !important;
    line-height: 1.22;
}
.fs-12 {
    font-size: calc(1.875rem + 1.125vw) !important;
    line-height: 1.19;
}
.fs-13 {
    font-size: calc(2rem + 1.675vw) !important;
    line-height: 1.16;
}
.fs-14 {
    font-size: calc(2.125rem + 2.5vw) !important;
    line-height: 1.13;
}
.fs-15 {
    font-size: calc(2.25rem + 3.75vw) !important;
    line-height: 1.1;
}

.monospace {
    font-family: monospace !important;
}
.serif {
    font-family: serif !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

.thin {
    font-weight: 100 !important;
}

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic !important;
}

.underline {
    text-decoration: underline !important;
}

.line-through {
    text-decoration: line-through !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.stroke-thin {
    -webkit-text-stroke: 0.5px currentColor;
    -webkit-text-fill-color: transparent;
}
.stroke {
    -webkit-text-stroke: 1.5px currentColor;
    -webkit-text-fill-color: transparent;
}

.stroke-bold {
    -webkit-text-stroke: 2.5px currentColor;
    -webkit-text-fill-color: transparent;
}

.vertical:not(.steps) {
    writing-mode: vertical-rl;
}

@for $i from 1 to 10 {
    .fw-#{$i} {
        font-weight: #{$i * 100} !important;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
