.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-medium);
    border-radius: 0.5em * $border-radius-ratio;
    border: 0.1rem solid transparent;
    padding: 13px * $padding-ratio 18px * $padding-ratio 12px * $padding-ratio;
}
