.card {
    display: block;
    background-color: var(--bg-medium);
    border-radius: 0.75em * $border-radius-ratio;
    overflow: hidden;
    max-width: 100%;

    & > *:not(:last-child):not(img) {
        border-bottom: 0.0625rem solid var(--bd);
    }

    & > * {
        padding: 0.75em 1em;
    }

    & > :first-child {
        margin-top: 0.25em;
    }

    & > :last-child {
        margin-bottom: 0.25em;
    }

    & > img {
        width: 100%;
        object-fit: cover;
        padding: 0 !important;
        margin-bottom: 0.25em;
    }

    & > img:first-child {
        margin-top: 0 !important;
    }

    & > img:last-child {
        margin-bottom: 0 !important;
    }
}
