.chat {
    font-size: 1rem;

    & * {
        &.recieved,
        &.sent {
            max-width: 80%;

            &:not(:last-child) {
                margin-bottom: 2px;
            }

            &:not(img) {
                width: fit-content;
                background-color: var(--bg-medium);
                padding: 0.5em 1em;
            }
        }

        &.recieved {
            border-top-right-radius: 1.2em;
            border-bottom-right-radius: 1.2em;
            margin-right: auto;
        }

        &.sent {
            border-top-left-radius: 1.2em;
            border-bottom-left-radius: 1.2em;
            margin-left: auto;
        }

        &:first-child {
            border-top-right-radius: 1.2em;
            border-top-left-radius: 1.2em;
        }

        &:last-child {
            border-bottom-right-radius: 1.2em;
            border-bottom-left-radius: 1.2em;
        }

        &:not(.recieved) + .recieved {
            border-top-left-radius: 1.2em;
        }
        &:not(.sent) + .sent {
            border-top-right-radius: 1.2em;
        }
        &.recieved:has(+ :not(.recieved)) {
            border-bottom-left-radius: 1.2em;
        }
        &.sent:has(+ :not(.sent)) {
            border-bottom-right-radius: 1.2em;
        }
    }

    &.xs {
        font-size: 0.75rem;
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.125rem;
    }

    &.xl {
        font-size: 1.25rem;
    }
}
