.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (max-width: $mob-tab-breakpoint) {
    .container {
        width: $mob-container-width;
    }
}

@media only screen and (min-width: ($mob-tab-breakpoint + 1px)) and (max-width: $tab-pc-breakpoint) {
    .container {
        width: $tab-container-width;
    }
}

@media only screen and (min-width: ($tab-pc-breakpoint + 1px)) {
    .container {
        width: $pc-container-width;
        max-width: 1600px;
    }
}
