.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (width < $mob-tab-breakpoint) {
    .container {
        width: $mob-container-width;
    }
}

@media (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
    .container {
        width: $tab-container-width;
    }
}

@media (width >= $tab-pc-breakpoint) {
    .container {
        width: $pc-container-width;
        max-width: 100rem;
    }
}
