.flip-card {
    display: block;
    border-radius: 12px * $border-radius-ratio;
    width: 100%;
    position: relative;
    transition: transform 0.4s * $transition-ratio ease-in-out;
    transform-style: preserve-3d;

    & > * {
        display: block;
        background-color: var(--bg-medium);
        border-radius: 12px * $border-radius-ratio;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateX(0deg);
    }

    & > :last-child {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(-180deg);
    }

    &:hover,
    &:focus,
    &:active {
        transform: rotateY(-180deg);
    }
}

:has(> .flip-card) {
    perspective: 1000px;
}
