.frame {
    background-color: var(--bg-medium);
    border-radius: 0.75em * $border-radius-ratio;
    overflow: hidden;

    & > img {
        object-fit: cover;
    }
}

@media (width < $frame-breakpoint) {
    .frame {
        & > :not(img) {
            padding: 16px * $padding-ratio;
        }

        & > img {
            width: 100%;
            height: 192px;
        }
    }
}

@media (width >= $frame-breakpoint) {
    .frame {
        display: flex;

        & > :not(img) {
            padding: 20px * $padding-ratio;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        & > img {
            min-width: 30%;
            max-width: 40%;
            width: 100%;
        }
    }
}
