.list {
    display: block;
    border-radius: 0.625em * $border-radius-ratio;
    background-color: var(--bg-medium);
    overflow: hidden;
    width: fit-content;
    list-style: none;
    border-color: var(--bd);

    & > * {
        display: block;
        padding: 0.5625em * $padding-ratio 1em * $padding-ratio;

        &:not(:last-child) {
            border-bottom: 0.0625rem solid;
            border-color: inherit;
        }
    }

    &:not([class^="bg-"]),
    &:not([class*=" bg-"]) {
        & > * {
            &:where(:hover, :focus, :active) {
                background-color: var(--bg-soft);
            }
        }


    }

    & > * {
        &:hover,
        &:focus,
        &:active {
            opacity: 0.92;
        }
    }
}
