.list {
    display: block;
    border-radius: 9px * $border-radius-ratio;
    background-color: var(--bg-medium);
    overflow: hidden;
    width: fit-content;
    list-style: none;
    border-color: var(--bd);

    & > * {
        display: block;
        padding: 9px * $padding-ratio 16px * $padding-ratio;

        &:not(:last-child) {
            border-bottom: 1px solid;
            border-color: inherit;
        }
    }

    &:not([class^="bg-"]),
    &:not([class*=" bg-"]) {
        & > * {
            &:where(:hover, :focus, :active) {
                background-color: var(--bg-soft);
            }
        }


    }

    & > * {
        &:hover,
        &:focus,
        &:active {
            opacity: 0.92;
        }
    }
}
