.navbar {
    background-color: var(--bg-strong);
    width: 100%;
    white-space: nowrap;
    font-size: 1rem;

    & * {
        color: inherit;
    }

    & > :first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img {
            height: 1.375em;
        }

        & > :first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & > :last-child {
        font-size: 0.875em;
        font-weight: 500;

        & > * {
            display: block;
        }
    }
}

@media (width < $navbar-breakpoint) {
    .navbar {
        & > :first-child {
            padding: 1.125em * $padding-ratio 1.5em * $padding-ratio;
            margin-bottom: -0.0625rem;
        }

        & > :last-child {
            width: 100%;
            position: absolute;
            background-color: inherit;
            z-index: 12;
            transition: clip-path 0.4s * $transition-ratio,
                max-height 0.4s * $transition-ratio;
            transition-timing-function: ease-in-out;
            clip-path: inset(0 0 100% 0);
            max-height: 0;
            overflow-y: auto;

            & > * {
                display: block;
                padding: 0.75em * $padding-ratio 1.7142857143em * $padding-ratio;

                &:last-child {
                    padding-bottom: 1em * $padding-ratio;
                }
            }

            &.open {
                clip-path: inset(0 0 0 0);
                max-height: calc(100vh - 3.65em);
                max-height: calc(100dvh - 3.65em);
            }
        }
    }

    body:has(.navbar .open) {
        overflow: hidden;
    }
}

@media (width >= $navbar-breakpoint) {
    .navbar {
        display: flex;
        align-items: stretch;
        width: 100%;

        & > :first-child {
            padding: 1.375em * $padding-ratio 1.5em * $padding-ratio 1.375em *
                $padding-ratio 50% - $pc-container-width * 0.5;

            & > :last-child {
                display: none;
            }
        }

        & > :last-child {
            flex-grow: 1;
            padding-right: 50% - $pc-container-width * 0.5;
            display: flex;
            justify-content: right;
            align-items: center;
            overflow-x: hidden;

            & > * {
                margin-left: 1.5em;
                white-space: nowrap;
            }
        }
    }
}

@media (width >= $navbar-breakpoint) and (width >= $mob-tab-breakpoint) and (width < $tab-pc-breakpoint) {
    .navbar {
        & > :first-child {
            padding-left: 50% - $tab-container-width * 0.5;
        }

        & > :last-child {
            padding-right: 50% - $tab-container-width * 0.5;
        }
    }
}

@media (width >= $navbar-breakpoint) and (width < $mob-tab-breakpoint) {
    .navbar {
        & > :first-child {
            padding-left: 50% - $mob-container-width * 0.5;
        }

        & > :last-child {
            padding-right: 50% - $mob-container-width * 0.5;
        }
    }
}
