.notice {
    font-size: 0.9375rem;
    display: block;
    position: relative;
    background-color: var(--bg-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px * $padding-ratio calc(38px * $padding-ratio + 0.75em) 13px *
        $padding-ratio 19px * $padding-ratio;

    &::after {
        content: "";
        color: inherit;
        background-color: currentColor !important;
        width: 0.75em;
        height: 0.75em;

        display: block;
        position: absolute;
        right: 18px * $padding-ratio;
        top: calc(50% + 1px);
        transform: translateY(-50%);

        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-image: url("svg/notice.svg");
        -webkit-mask-image: url("svg/notice.svg");
    }
}
