.notice {
    font-size: 0.9375rem;
    display: block;
    position: relative;
    background-color: var(--bg-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px * $padding-ratio calc(38px * $padding-ratio + 0.75em) 13px *
        $padding-ratio 19px * $padding-ratio;

    &::after {
        content: "";
        color: inherit;
        background-color: currentColor !important;
        width: 0.75em;
        height: 0.75em;

        display: block;
        position: absolute;
        right: 18px * $padding-ratio;
        top: calc(50% + 1px);
        transform: translateY(-50%);

        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m4.76,15.6c.49.49,1.28.49,1.77,0l6.72-6.72c.49-.49.49-1.28,0-1.77L6.53.4c-.49-.49-1.28-.49-1.77,0s-.49,1.28,0,1.77l5.83,5.83-5.83,5.83c-.49.49-.49,1.28,0,1.77Z"/></svg>');
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m4.76,15.6c.49.49,1.28.49,1.77,0l6.72-6.72c.49-.49.49-1.28,0-1.77L6.53.4c-.49-.49-1.28-.49-1.77,0s-.49,1.28,0,1.77l5.83,5.83-5.83,5.83c-.49.49-.49,1.28,0,1.77Z"/></svg>');
    }
}
