.pagination {
    display: flex !important;
    width: fit-content;
    border-radius: 0.5em * $border-radius-ratio;
    max-width: 100%;
    overflow-x: auto;
    border-color: $button-bd-color;
    border-style: unset !important;
    font-size: 1rem;
    font-weight: 500;

    & > * {
        font-size: inherit;
        font-weight: inherit;
        display: inline-block;
        padding: 0.35em * $padding-ratio 0.875em * $padding-ratio 0.275em *
            $padding-ratio;
        white-space: nowrap;
        user-select: none;
        border-width: $button-bd-width;
        border-style: solid;
        border-color: inherit;
        background-color: inherit;
        color: inherit;

        &:not(:first-child):not(:last-child) {
            border-left-width: $button-bd-width * 0.5 !important;
            border-right-width: $button-bd-width * 0.5 !important;
        }

        &:first-child {
            border-radius: inherit;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: $button-bd-width * 0.5 !important;
        }

        &:last-child {
            border-radius: inherit;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-width: $button-bd-width * 0.5 !important;
        }

        &:hover,
        &:focus,
        &:active {
            opacity: 0.92;
        }
    }

    &.pill {
        & > :first-child {
            padding-left: 1.0625em * $padding-ratio;
        }

        & > :last-child {
            padding-right: 1.0625em * $padding-ratio;
        }
    }

    &.xs {
        font-size: 0.75rem;
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.125rem;
    }

    &.xl {
        font-size: 1.25rem;
    }
}
