progress {
    width: 100%;
    display: block;
    border-radius: 9999px;
    background-color: var(--bg-medium);
    color: var(--bd);
    height: calc(7.5px + 0.46875rem);
    
    &.xs {
        height: calc(5px + 0.3125rem);
    }
    &.sm {
        height: calc(6px + 0.375rem);
    }
    &.lg {
        height: calc(9.5px + 0.59375rem);
    }
    &.xl {
        height: calc(12px + 0.75rem);
    }

    &::-webkit-progress-bar {
        border-radius: 9999px;
        background-color: inherit;
    }

    &::-webkit-progress-value {
        background-color: currentColor;
        border-radius: 9999px;
    }

    &::-moz-progress-bar {
        border-radius: 9999px;
        background-color: currentColor;
    }
}
