.responsive-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.875rem;
    border-color: var(--bd);

    * {
        border-color: inherit !important;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        tr:not(:last-child) {
            border-bottom: 0.0625rem solid;
        }

        th,
        td {
            padding: 0.65em * $padding-ratio 0.8em * $padding-ratio;
            color: inherit;
            text-align: inherit;
        }

        th {
            font-weight: 600;
        }
    }

    &.bd-all {
        th,
        td {
            border: 0.0625rem solid;
        }
    }

    &.xs table {
        font-size: 0.625rem;
    }

    &.sm table {
        font-size: 0.75rem;
    }

    &.lg table {
        font-size: 1rem;
    }

    &.xl table {
        font-size: 1.125rem;
    }

    &.zebra tr {
        border-bottom: none !important;

        &:nth-child(2n) {
            background-color: var(--bg-medium);
        }
    }
}
