.responsive-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.875rem;
    border-color: var(--bd);

    * {
        border-color: inherit !important;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        tr:not(:last-child) {
            border-bottom: 1px solid;
        }

        th,
        td {
            padding: 9px * $padding-ratio 12px * $padding-ratio;
            color: inherit;
            text-align: inherit;
        }

        th {
            font-weight: 600;
        }
    }

    &.bd-all {
        th,
        td {
            border: 1px solid;
        }
    }

    &.xs {
        table {
            font-size: 0.625rem;
        }

        th,
        td {
            padding: 6px * $padding-ratio 8px * $padding-ratio;
        }
    }

    &.sm {
        table {
            font-size: 0.75rem;
        }

        th,
        td {
            padding: 7.5px * $padding-ratio 10px * $padding-ratio;
        }
    }

    &.lg {
        table {
            font-size: 1rem;
        }

        th,
        td {
            padding: 11.5px * $padding-ratio 14px * $padding-ratio;
        }
    }

    &.xl {
        table {
            font-size: 1.125rem;
        }

        th,
        td {
            padding: 12px * $padding-ratio 16px * $padding-ratio;
        }
    }

    &.zebra {
        tr {
            border-bottom: none !important;

            &:nth-child(2n) {
                background-color: var(--bg-medium);
            }
        }
    }
}
