.steps {
    width: 100%;
    counter-reset: step;
    list-style: none;
    font-size: 1rem;

    & > * {
        position: relative;

        &::before {
            content: counter(step);
            counter-increment: step;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 2em;
            width: 2em;
            border-radius: 9999px;
            background-color: var(--bg-medium);
            z-index: 1;
            padding-top: 0.0625em;
        }

        &:not(:first-child)::after {
            content: "";
            display: block;
            position: absolute;
            background-color: var(--bg-medium);
        }
    }

    &.horizontal {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;

        & > * {
            display: block;
            text-align: center;
            padding-left: 0.5em;
            padding-right: 0.5em;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 6em;

            &::before {
                margin: auto;
                margin-bottom: 0.25em;
            }

            &:not(:first-child)::after {
                top: 0.75em;
                left: -50%;
                height: 0.5em;
                width: 100%;
            }
        }
    }

    &.vertical {
        & > * {
            display: flex;
            align-items: center;
            margin-bottom: 1.5em;
            height: 2em;

            &::before {
                margin-right: 0.5em;
                flex-basis: 2em;
                flex-shrink: 0;
            }

            &:not(:first-child)::after {
                left: 0.75em;
                bottom: 1em;
                width: 0.5em;
                height: 3.5em;
            }
        }
    }

    & > .done {
        &::before,
        & + .done::after {
            background-color: var(--done-bg, var(--accent)) !important;
            @if $accent-c {
                color: var(--done-c, var(--accent-c)) !important;
            } @else {
                color: var(--done-c) !important;
            }
        }
    }
}

@media (width < $steps-breakpoint) {
    .steps:not(.horizontal):not(.vertical) {
        & > * {
            display: flex;
            align-items: center;
            margin-bottom: 1.5em;
            height: 2em;

            &::before {
                margin-right: 0.5em;
                flex-basis: 2em;
                flex-shrink: 0;
            }

            &:not(:first-child)::after {
                left: 0.75em;
                bottom: 1em;
                width: 0.5em;
                height: 3.5em;
            }
        }
    }
}

@media (width > $steps-breakpoint) {
    .steps:not(.horizontal):not(.vertical) {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;

        & > * {
            display: block;
            text-align: center;
            padding-left: 0.5em;
            padding-right: 0.5em;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 6em;

            &::before {
                margin: auto;
                margin-bottom: 0.25em;
            }

            &:not(:first-child)::after {
                top: 0.75em;
                left: -50%;
                height: 0.5em;
                width: 100%;
            }
        }
    }
}
