.tabs {
    & > :first-child {
        width: 100%;
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-right: 2em * $border-radius-ratio;

        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            &[class^="bg"],
            &[class*=" bg"] {
                background-color: inherit;
                position: relative;
                z-index: 1;

                &:not(:first-child)::before,
                &::after {
                    content: "";
                    background-color: inherit !important;
                    display: block;
                    position: absolute;
                    width: 0.5em * $border-radius-ratio;
                    height: 0.5em * $border-radius-ratio;
                    bottom: -0.125rem;
                    z-index: 0;
                    mask-repeat: no-repeat;
                    -webkit-mask-repeat: no-repeat;
                    mask-position: center;
                    -webkit-mask-position: center;
                }

                &:not(:first-child)::before {
                    left: calc(-0.5em * $border-radius-ratio - 0.075rem);
                    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m16,0v16H0c8.84,0,16-7.16,16-16Z"/></svg>');
                    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m16,0v16H0c8.84,0,16-7.16,16-16Z"/></svg>');
                }

                &::after {
                    right: calc(-0.5em * $border-radius-ratio - 0.075rem);
                    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m0,0v16h16C7.16,16,0,8.84,0,0Z"/></svg>');
                    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m0,0v16h16C7.16,16,0,8.84,0,0Z"/></svg>');
                }

                &:where(:hover, :focus, :active) {
                    outline: none !important;
                }
            }

            &:focus-visible {
                outline: none;
                transform: scale(1.05);
            }
        }
    }
    & > *:not(:first-child) {
        border-radius: 0.5em * $border-radius-ratio;
        padding: 0.5em * $padding-ratio 0.75em * $padding-ratio;
    }

    &:has(> :first-child > :first-child.bg),
    &:has(> :first-child > :first-child[class^="bg-"]),
    &:has(> :first-child > :first-child[class*=" bg-"]) {
        & > *:not(:first-child) {
            border-top-left-radius: 0 !important;
        }
    }

    @supports not selector(:has(*)) {
        & > :first-child {
            padding-left: 0.5em * $border-radius-ratio;
        }
    }
}
