.tabs > :first-child > *,
:where(.form, .group)
    :where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ),
:where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ).form,
.b,
.btn,
.button {
    appearance: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
    color: $button-c;
    background-color: $button-bg-color;
    border: $button-bd-width solid $button-bd-color;
    user-select: none;
    transition: transform 0.25s * $transition-ratio;
    font-size: 0.9375rem;
    padding: 0.3875em * $padding-ratio 0.8em * $padding-ratio 0.3125em *
        $padding-ratio;

    @if $button-shape == "pill" {
        border-radius: 9999px;
    } @else if $button-shape == "angular" {
        border-radius: 0;
    } @else {
        border-radius: 0.5em * $border-radius-ratio;
    }

    &.xs {
        font-size: 0.6875rem;
    }

    &.sm {
        font-size: 0.8125rem;
    }

    &.lg {
        font-size: 1.0625rem;
    }

    &.xl {
        font-size: 1.1875rem;
    }

    &.p-xs {
        padding: 0.0875em * $padding-ratio 0.4em * $padding-ratio 0.0125em *
            $padding-ratio;
    }

    &.p-sm {
        padding: 0.2375em * $padding-ratio 0.6em * $padding-ratio 0.1625em *
            $padding-ratio;
    }

    &.p-lg {
        padding: 0.5375em * $padding-ratio 1em * $padding-ratio 0.4625em *
            $padding-ratio;
    }

    &.p-xl {
        padding: 0.6875em * $padding-ratio 1.2em * $padding-ratio 0.6125em *
            $padding-ratio;
    }

    &.d3 {
        box-shadow: 0.25em 0.25em var(--d3-c, var(--bd));
        transform: translate(-0.25em, -0.25em);
        transition: transform 0s !important;

        &:hover,
        &:focus,
        &:active {
            transform: translate(0, 0);
            box-shadow: none;
            outline: none;
        }
    }
}

.tabs > :first-child > *,
.form
    :where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ),
:where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ).form,
:not(.group) > .b,
:not(.group) > .btn,
:not(.group) > .button {
    @if $button-shape == "pill" {
        &:not(.angular):not([class^="br-"]):not([class*=" br-"]) {
            padding-left: 1em * $padding-ratio;
            padding-right: 1em * $padding-ratio;

            &.p-xs {
                padding-left: 0.5em * $padding-ratio;
                padding-right: 0.5em * $padding-ratio;
            }

            &.p-sm {
                padding-left: 0.75em * $padding-ratio;
                padding-right: 0.75em * $padding-ratio;
            }

            &.p-lg {
                padding-left: 1.25em * $padding-ratio;
                padding-right: 1.25em * $padding-ratio;
            }

            &.p-xl {
                padding-left: 1.5em * $padding-ratio;
                padding-right: 1.5em * $padding-ratio;
            }
        }
    } @else {
        &.pill {
            padding-left: 1em * $padding-ratio;
            padding-right: 1em * $padding-ratio;

            &.p-xs {
                padding-left: 0.5em * $padding-ratio;
                padding-right: 0.5em * $padding-ratio;
            }

            &.p-sm {
                padding-left: 0.75em * $padding-ratio;
                padding-right: 0.75em * $padding-ratio;
            }

            &.p-lg {
                padding-left: 1.25em * $padding-ratio;
                padding-right: 1.25em * $padding-ratio;
            }

            &.p-xl {
                padding-left: 1.5em * $padding-ratio;
                padding-right: 1.5em * $padding-ratio;
            }
        }
    }
}

:where(.form, .group)
    :where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ),
:where(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button
    ).form,
.b,
.btn,
.button {
    &:hover,
    &:focus,
    &:active {
        opacity: 0.92;
    }
    &:focus-visible {
        outline: none;
        transform: scale(1.05);
    }
}
