label {
    cursor: pointer;
    user-select: none;
    font-size: 0.875rem;

    &:has(input) {
        margin-top: 2px;
        display: block;

        & > input {
            margin-top: -2px;
        }
    }
}

@import "checkbox";
@import "radio";
@import "switch";
