:where(.form, .group) input[type="color"],
input[type="color"].form {
    appearance: none;
    cursor: pointer;
    background-color: $form-bg-color;
    border: $form-bd-width solid $form-bd-color;
    background-color: $form-bg-color;
    width: 3em;
    height: 2em;
    font-size: 1rem;

    @if $form-shape == "pill" {
        border-radius: 9999px;

        &::-webkit-color-swatch {
            border-radius: 9999px;
        }

        &::-moz-color-swatch {
            border-radius: 9999px;
        }
    } @else if $form-shape == "angular" {
        border-radius: 0;

        &::-webkit-color-swatch {
            border-radius: 0;
        }

        &::-moz-color-swatch {
            border-radius: 0;
        }
    } @else {
        border-radius: 0.5em * $border-radius-ratio;

        &::-webkit-color-swatch {
            border-radius: 0.5em * $border-radius-ratio - 0.375em;
        }
    }

    &.pill {
        &::-webkit-color-swatch {
            border-radius: 9999px;
        }

        &::-moz-color-swatch {
            border-radius: 9999px;
        }
    }
    &.angular {
        &::-webkit-color-swatch {
            border-radius: 0;
        }

        &::-moz-color-swatch {
            border-radius: 0;
        }
    }

    &::-webkit-color-swatch {
        border: none;
    }

    &::-webkit-color-swatch-wrapper {
        padding: 0.375em;
    }

    &::-moz-color-swatch {
        border: none;
        width: calc(2.25em - $form-bd-width * 2);
        height: calc(1.25em - $form-bd-width * 2);

        @if $form-shape != "pill" and $form-shape != "angular" {
            border-radius: 0.5em * $border-radius-ratio - 0.375em;
        }
    }

    &.xs {
        font-size: 0.75rem;
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.125rem;
    }

    &.xl {
        font-size: 1.25rem;
    }
}
