@mixin file-size($size) {
    padding-right: calc(($size - 1) * 2px * $padding-ratio + $form-bd-width);
    font-size: $size * 0.125rem;
    border-radius: $size * 1px * $border-radius-ratio;

    &::file-selector-button {
        font-size: $size * 0.125rem;
        margin-right: ($size - 1) * 2px * $padding-ratio;
        padding: calc(
                ((($size - 2.5) * $padding-ratio + 1) * 1px) + $form-bd-width
            )
            ($size - 1) * 2px * $padding-ratio
            calc(($size - 2.5) * 1px * $padding-ratio + $form-bd-width)
            calc(($size - 1) * 2px * $padding-ratio + $form-bd-width);
    }

    &.pill {
        padding-right: calc(
            ($size - 1) * 2.5px * $padding-ratio + $form-bd-width
        );

        &::file-selector-button {
            padding-left: calc(
                ($size - 1) * 2.5px * $padding-ratio + $form-bd-width
            );
        }
    }

    @if $form-bd-color != transparent {
        border: $form-bd-width solid $form-bd-color;
        padding-right: ($size - 1) * 2px * $padding-ratio;

        &::file-selector-button {
            padding: ($size - 2.5) *
                1px *
                $padding-ratio +
                1
                ($size - 1) *
                2px *
                $padding-ratio
                ($size - 2.5) *
                1px *
                $padding-ratio;
        }

        &.pill {
            padding-right: ($size - 1) * 2.5px * $padding-ratio;

            &::file-selector-button {
                padding-left: ($size - 1) * 2.5px * $padding-ratio;
            }
        }
    } @else {
        &[class^="bd"],
        &[class*=" bd"] {
            border: $form-bd-width solid;
            padding-right: ($size - 1) * 2px * $padding-ratio;

            &::file-selector-button {
                padding: ($size - 2.5) *
                    1px *
                    $padding-ratio +
                    1
                    ($size - 1) *
                    2px *
                    $padding-ratio
                    ($size - 2.5) *
                    1px *
                    $padding-ratio;
            }

            &.pill {
                padding-right: ($size - 1) * 2.5px * $padding-ratio;

                &::file-selector-button {
                    padding-left: ($size - 1) * 2.5px * $padding-ratio;
                }
            }
        }
    }
}

.form input[type="file"],
.group input[type="file"],
input[type="file"].form {
    appearance: none;
    cursor: pointer;
    width: 100%;
    line-height: $form-line-height;
    box-shadow: none;
    background-color: $form-bg-color;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    &::file-selector-button {
        cursor: pointer;
        line-height: $form-line-height;
        border: none;
        background-color: var(--bg-soft);
        border-radius: 0 !important;
    }

    @include file-size(8);

    &.xs {
        @include file-size(6);
    }

    &.sm {
        @include file-size(7);
    }

    &.lg {
        @include file-size(9);
    }

    &.xl {
        @include file-size(10);
    }
}
