:where(.form, .group) input[type="file"],
input[type="file"].form {
    appearance: none;
    cursor: pointer;
    width: 100%;
    box-shadow: none;
    color: $form-c;
    background-color: $form-bg-color;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    overflow: hidden;
    font-size: 1rem;
    padding-right: calc(0.875em * $padding-ratio + $form-bd-width);

    @if $form-shape == "pill" {
        border-radius: 9999px;
    } @else if $form-shape == "angular" {
        border-radius: 0;
    } @else {
        border-radius: 0.5em * $border-radius-ratio;
    }

    &::file-selector-button {
        appearance: none;
        cursor: pointer;
        font-size: inherit;
        line-height: inherit;
        border: none;
        background-color: var(--bg-soft);
        color: var(--c-soft);
        border-radius: 0 !important;
        margin-right: 0.875em * $padding-ratio;
        padding: calc(0.45em * $padding-ratio + $form-bd-width) 0.875em *
            $padding-ratio calc(0.4em * $padding-ratio + $form-bd-width)
            calc(0.875em * $padding-ratio + $form-bd-width);
    }

    @if $form-shape == "pill" {
        padding-right: calc(1.09375em * $padding-ratio + $form-bd-width);

        &::file-selector-button {
            padding-left: calc(1.09375em * $padding-ratio + $form-bd-width);
        }
    }

    &.pill {
        padding-right: calc(1.09375em * $padding-ratio + $form-bd-width);

        &::file-selector-button {
            padding-left: calc(1.09375em * $padding-ratio + $form-bd-width);
        }
    }

    @if $form-bd-color != transparent {
        border: $form-bd-width solid $form-bd-color;
        padding-right: 0.875em * $padding-ratio;

        &::file-selector-button {
            padding: 0.45em *
                $padding-ratio
                0.875em *
                $padding-ratio
                0.4em *
                $padding-ratio;
        }

        @if $form-shape == "pill" {
            padding-right: 1.09375em * $padding-ratio;

            &::file-selector-button {
                padding-left: 1.09375em * $padding-ratio;
            }
        }

        &.pill {
            padding-right: 1.09375em * $padding-ratio;

            &::file-selector-button {
                padding-left: 1.09375em * $padding-ratio;
            }
        }
    } @else {
        &.bd,
        &[class^="bd-"],
        &[class*=" bd-"] {
            border: $form-bd-width solid;
            padding-right: 0.875em * $padding-ratio;

            &::file-selector-button {
                padding: 0.45em *
                    $padding-ratio
                    0.875em *
                    $padding-ratio
                    0.4em *
                    $padding-ratio;
            }

            @if $form-shape == "pill" {
                padding-right: 1.09375em * $padding-ratio;

                &::file-selector-button {
                    padding-left: 1.09375em * $padding-ratio;
                }
            }

            &.pill {
                padding-right: 1.09375em * $padding-ratio;

                &::file-selector-button {
                    padding-left: 1.09375em * $padding-ratio;
                }
            }
        }
    }

    &.xs {
        font-size: 0.75rem;
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.125rem;
    }

    &.xl {
        font-size: 1.25rem;
    }
}
