.group {
    display: flex !important;
    align-items: stretch;
    border-radius: 9999px;
    color: $form-c;
    background-color: $form-bg-color;
    border-color: $form-bd-color;
    border-width: 0 !important;
    width: fit-content;

    & > * {
        border-color: inherit !important;
        background-color: inherit !important;
        color: inherit !important;
        display: flex;
        align-items: center;
    }

    & > :not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left-width: $form-bd-width * 0.5 !important;

        &:where(
                input[type="button"],
                input[type="submit"],
                input[type="reset"],
                button,
                .b,
                .btn,
                .button
            ) {
            border-left-width: $button-bd-width * 0.5 !important;
        }
    }

    & > :not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right-width: $form-bd-width * 0.5 !important;

        &:where(
                input[type="button"],
                input[type="submit"],
                input[type="reset"],
                button,
                .b,
                .btn,
                .button
            ) {
            border-right-width: $button-bd-width * 0.5 !important;
        }
    }

    &.angular {
        & > * {
            border-radius: 0 !important;
        }
    }
}

.group.pill > * {
    &:first-child {
        border-top-left-radius: 9999px !important;
        border-bottom-left-radius: 9999px !important;
    }

    &:last-child {
        border-top-right-radius: 9999px !important;
        border-bottom-right-radius: 9999px !important;
    }
}

@if $form-shape == "pill" {
    .group:not(.angular):not([class^="br-"]):not([class*=" br-"])
        > :not(
            :where(
                    input[type="button"],
                    input[type="submit"],
                    input[type="reset"],
                    button,
                    .b,
                    .btn,
                    .button
                )
        ) {
        &:first-child {
            padding-left: 1.09375em * $padding-ratio;
        }

        &:last-child {
            padding-right: 1.09375em * $padding-ratio;

            &:is(select) {
                background-position: right
                    1.09375em *
                    $padding-ratio
                    top
                    calc(50% + 0.0625em);
                padding-right: 1.96875 * $padding-ratio + 0.5em;
            }
        }
    }
} @else {
    .group.pill
        > :not(
            :where(
                    input[type="button"],
                    input[type="submit"],
                    input[type="reset"],
                    button,
                    .b,
                    .btn,
                    .button
                )
        ) {
        &:first-child {
            padding-left: 1.09375em * $padding-ratio;
        }

        &:last-child {
            padding-right: 1.09375em * $padding-ratio;

            &:is(select) {
                background-position: right
                    1.09375em *
                    $padding-ratio
                    top
                    calc(50% + 0.0625em);
                padding-right: 1.96875 * $padding-ratio + 0.5em;
            }
        }
    }
}

@if $button-shape == "pill" {
    .group:not(.angular):not([class^="br-"]):not([class*=" br-"]) {
        &
            > :where(
                input[type="button"],
                input[type="submit"],
                input[type="reset"],
                button,
                .b,
                .btn,
                .button
            ) {
            &:first-child {
                padding-left: 1em * $padding-ratio;
            }

            &:last-child {
                padding-right: 1em * $padding-ratio;
            }
        }
    }
} @else {
    .group.pill
        > :where(
            input[type="button"],
            input[type="submit"],
            input[type="reset"],
            button,
            .b,
            .btn,
            .button
        ) {
        &:first-child {
            padding-left: 1em * $padding-ratio;
        }

        &:last-child {
            padding-right: 1em * $padding-ratio;
        }
    }
}
