.group {
    display: flex !important;
    border-radius: 9999px;
    border-color: $form-bd-color;
    border-width: 0 !important;
    background-color: $form-bg-color;
    width: fit-content;

    & > * {
        border-color: inherit !important;
        background-color: inherit !important;
        color: inherit !important;
    }

    & > :not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left-width: 1px !important;
    }

    & > :not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right-width: 1px !important;
    }

    &.angular {
        & > * {
            border-radius: 0 !important;
        }
    }
}

@mixin pill($size) {
    &:first-child {
        padding-left: $size * 2.5px * $padding-ratio !important;
    }

    &:last-child {
        padding-right: $size * 2.5px * $padding-ratio !important;

        &:is(select) {
            padding-right: $size * 4.5px * $padding-ratio + $size + 1 !important;
        }
    }
}

.group.pill > * {
    &:first-child {
        border-top-left-radius: 9999px !important;
        border-bottom-left-radius: 9999px !important;
    }

    &:last-child {
        border-top-right-radius: 9999px !important;
        border-bottom-right-radius: 9999px !important;
    }

    @include pill(7);

    &.xs {
        @include pill(5);
    }

    &.sm {
        @include pill(6);
    }

    &.lg {
        @include pill(8);
    }

    &.xl {
        @include pill(9);
    }
}

.group.pill > input[type="button"],
.group.pill > input[type="submit"],
.group.pill > input[type="reset"],
.group.pill > .button {
    @include pill(6);

    &.xs {
        @include pill(4);
    }

    &.sm {
        @include pill(5);
    }

    &.lg {
        @include pill(7);
    }

    &.xl {
        @include pill(8);
    }
}
