:where(.form, .group)
    :where(
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        input[type="tel"],
        input[type="url"],
        input[type="search"],
        select,
        textarea,
        input[type="date"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="time"],
        input[type="week"]
    ),
:where(
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        input[type="tel"],
        input[type="url"],
        input[type="search"],
        select,
        textarea,
        input[type="date"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="time"],
        input[type="week"]
    ).form {
    appearance: none;
    width: 100%;
    box-shadow: none;
    color: $form-c;
    background-color: $form-bg-color;
    border: $form-bd-width solid $form-bd-color;
    outline: none;
    font-size: 1rem;

    @if $form-shape == "pill" {
        border-radius: 9999px;
    } @else if $form-shape == "angular" {
        border-radius: 0;
    } @else {
        border-radius: 0.5em * $border-radius-ratio;
    }

    &.xs {
        font-size: 0.75rem;
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.125rem;
    }

    &.xl {
        font-size: 1.25rem;
    }

    @if $button-shape == "pill" {
        &:not(.angular):not([class^="br-"]):not([class*=" br-"]) {
            padding-left: 1.09375em * $padding-ratio-x;
            padding-right: 1.09375em * $padding-ratio-x;
        }
    } @else {
        &.pill {
            padding-left: 1.09375em * $padding-ratio-x;
            padding-right: 1.09375em * $padding-ratio-x;
        }
    }
}

:where(.form, .group)
    :where(
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        input[type="tel"],
        input[type="url"],
        input[type="search"],
        select,
        textarea
    ),
:where(
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        input[type="tel"],
        input[type="url"],
        input[type="search"],
        select,
        textarea
    ).form {
    padding: 0.45em * $padding-ratio 0.875em * $padding-ratio-x 0.4em *
        $padding-ratio;
}


:where(.form, .group)
    :where(
        input[type="date"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="time"],
        input[type="week"]
    ),
:where(
        input[type="date"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="time"],
        input[type="week"]
    ).form {
    padding: calc(0.45em * $padding-ratio - 0.0625rem) 0.875em * $padding-ratio-x
        calc(0.4em * $padding-ratio - 0.0625rem);
    min-height: calc(1.4em + 0.85em + $form-bd-width * 2) !important;

    &::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
}

:where(.form, .group) input[type="number"],
input[type="number"].form {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@-moz-document url-prefix() {
    :where(.form, .group) input[type="number"],
    input[type="number"].form {
        appearance: textfield;
    }

    :where(.form, .group)
        :where(
            input[type="date"],
            input[type="datetime-local"],
            input[type="month"],
            input[type="time"],
            input[type="week"]
        ),
    :where(
            input[type="date"],
            input[type="datetime-local"],
            input[type="month"],
            input[type="time"],
            input[type="week"]
        ).form {
        padding-top: 0.45em * $padding-ratio;
        padding-bottom: 0.4em * $padding-ratio;
    }
}

:where(.form, .group) input[type="search"],
input[type="search"].form {
    &::-webkit-search-cancel-button {
        appearance: none;
        cursor: pointer;
        color: inherit;
        background-color: currentColor !important;
        width: 0.625em;
        height: 0.625em;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m.88,15.12c.49.49,1.28.49,1.77,0l5.35-5.35,5.35,5.35c.49.49,1.28.49,1.77,0s.49-1.28,0-1.77l-5.35-5.35,5.35-5.35c.49-.49.49-1.28,0-1.77s-1.28-.49-1.77,0l-5.35,5.35L2.65.88c-.49-.49-1.28-.49-1.77,0s-.49,1.28,0,1.77l5.35,5.35L.88,13.35c-.49.49-.49,1.28,0,1.77Z"/></svg>');
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m.88,15.12c.49.49,1.28.49,1.77,0l5.35-5.35,5.35,5.35c.49.49,1.28.49,1.77,0s.49-1.28,0-1.77l-5.35-5.35,5.35-5.35c.49-.49.49-1.28,0-1.77s-1.28-.49-1.77,0l-5.35,5.35L2.65.88c-.49-.49-1.28-.49-1.77,0s-.49,1.28,0,1.77l5.35,5.35L.88,13.35c-.49.49-.49,1.28,0,1.77Z"/></svg>');
    }
}
