@mixin radio-size($size) {
    height: $size * 3px;
    width: $size * 3px;
}

.form input[type="radio"],
.group input[type="radio"],
input[type="radio"].form {
    appearance: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    border: $form-bd-width solid $form-bd-color;
    border-radius: 50%;

    @include radio-size(8);

    &:checked {
        &::before {
            content: "";
            color: inherit;
            background-color: currentColor;
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: $form-bd-width;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-position: center;
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="3.5"/></svg>');
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="3.5"/></svg>');
        }
    }

    &.xs {
        @include radio-size(6);
    }

    &.sm {
        @include radio-size(7);
    }

    &.lg {
        @include radio-size(9);
    }

    &.xl {
        @include radio-size(10);
    }
}
