:where(.form, .group) input[type="range"],
input[type="range"].form {
    appearance: none;
    width: 100%;
    background-color: $form-bg-color;
    border: $form-bd-width solid $form-bd-color;
    cursor: pointer;
    color: var(--bd);
    padding: 0;
    height: 0.625em;
    font-size: 1rem;

    @if $form-shape == "angular" {
        border-radius: 0;
    } @else {
        border-radius: 9999px;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        border-radius: 50%;
        border: none;
        color: inherit;
        background-color: currentColor;
        cursor: pointer;
        width: 1.125em;
        height: 1.125em;
    }

    &::-moz-range-thumb {
        appearance: none;
        border-radius: 50%;
        border: none;
        color: inherit;
        background-color: currentColor;
        cursor: pointer;
        width: 1.125em;
        height: 1.125em;
    }

    &.xs {
        font-size: 0.6rem;
    }

    &.sm {
        font-size: 0.8rem;
    }

    &.lg {
        font-size: 1.2rem;
    }

    &.xl {
        font-size: 1.4rem;
    }
}
