:where(.form, .group) select,
select.form {
    cursor: pointer;
    background-size: 0.5625em;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23222"><path d="m1.034,8.0203l5.4943,4.0012c.8772.6389,2.0663.6389,2.9435,0l5.4943-4.0012c1.9565-1.4249.9486-4.5209-1.4717-4.5209H2.5057C.0854,3.4994-.9225,6.5954,1.034,8.0203Z"/></svg>');
    background-position: right 0.875em * $padding-ratio-x top calc(50% + 0.0625em);
    padding-right: 1.75em * $padding-ratio-x + 0.5em;

    & option {
        background-color: inherit;
    }

    &.bg-none option {
        background-color: $form-bg-color;
    }
}

.form select,
select.form {
    @if $form-shape == "pill" {
        &:not(.angular):not([class^="br-"]):not([class*=" br-"]) {
            background-position: right
                1.09375em *
                $padding-ratio
                top
                calc(50% + 0.0625em);
            padding-right: 1.96875 * $padding-ratio-x + 0.5em;
        }
    } @else {
        &.pill {
            background-position: right
                1.09375em *
                $padding-ratio
                top
                calc(50% + 0.0625em);
            padding-right: 1.96875 * $padding-ratio-x + 0.5em;
        }
    }
}

html.dark {
    :where(.form, .group) select,
    select.form {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"><path d="m1.034,8.0203l5.4943,4.0012c.8772.6389,2.0663.6389,2.9435,0l5.4943-4.0012c1.9565-1.4249.9486-4.5209-1.4717-4.5209H2.5057C.0854,3.4994-.9225,6.5954,1.034,8.0203Z"/></svg>');
    }
}
