input[type="checkbox"].switch {
    appearance: none;
    vertical-align: middle;
    border-radius: 9999px;
    position: relative;
    cursor: pointer;
    transition: 0.25s * $transition-ratio ease;
    background-color: $form-bg-color;
    border: $form-bd-width solid $form-bd-color;
    color: var(--bd);
    width: 3.3em;
    height: 1.8em;
    font-size: 1rem;

    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        color: inherit;
        background-color: currentColor;
        transition: left 0.25s * $transition-ratio ease;
        height: 1.2em;
        width: 1.2em;
        top: calc(0.3em - $form-bd-width);
        left: calc(0.3em - $form-bd-width);
    }

    &.bd:after,
    &[class^="bd-"]:after,
    &[class*=" bd-"]:after {
        height: 1em;
        width: 1em;
        top: calc(0.4em - $form-bd-width);
        left: calc(0.4em - $form-bd-width);
    }

    &:checked:after {
        left: calc(100% - calc(1.5em - 0.1rem));
    }

    &.bd:checked:after,
    &[class^="bd-"]:checked:after,
    &[class*=" bd-"]:checked:after {
        left: calc(100% - calc(1.4em - 0.1rem));
    }

    &.xs {
        font-size: 0.6875rem;
    }

    &.sm {
        font-size: 0.84375rem;
    }

    &.lg {
        font-size: 1.15625rem;
    }

    &.xl {
        font-size: 1.3125rem;
    }
}
