:where(.form, .group) textarea,
textarea.form {
    @if $font == "Inter" {
        font-family: "Inter var", sans-serif;
    } @else {
        font-family: $font, sans-serif;
    }
    resize: vertical;
    vertical-align: top;
    min-height: calc(1.4em + 0.85em + $form-bd-width * 2);

    @if $form-shape == "pill" {
        border-radius: calc(0.7em + 0.425em + $form-bd-width) !important;
    }

    &.pill {
        border-radius: calc(0.7em + 0.425em + $form-bd-width) !important;
    }
}
