.cursor-auto {
    cursor: auto !important;
}

.cursor-arrow {
    cursor: default !important;
}
.cursor-cell {
    cursor: cell !important;
}

.cursor-crosshair {
    cursor: crosshair !important;
}

.cursor-grab {
    cursor: grab !important;
}

.cursor-move {
    cursor: move !important;
}

.cursor-none {
    cursor: none !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.pointer,
.cursor-pointer {
    cursor: pointer !important;
}

.cursor-progress {
    cursor: progress !important;
}

.cursor-text {
    cursor: text !important;
}

.cursor-wait {
    cursor: wait !important;
}

.cursor-x-resize {
    cursor: w-resize !important;
}

.cursor-y-resize {
    cursor: s-resize !important;
}

.cursor-zoom-in {
    cursor: zoom-in !important;
}

.cursor-zoom-out {
    cursor: zoom-out !important;
}
