@mixin height($prefix) {
    .#{$prefix}h-auto,
    .#{$prefix}max-h-auto,
    .#{$prefix}min-h-auto {
        height: auto !important;
    }

    @for $i from 0 to 21 {
        .#{$prefix}h-#{$i} {
            height: nth($i) !important;
        }
    }

    @for $i from 0 to 21 {
        .#{$prefix}max-h-#{$i} {
            max-height: nth($i) !important;
        }
    }

    @for $i from 0 to 21 {
        .#{$prefix}min-h-#{$i} {
            min-height: nth($i) !important;
        }
    }

    .#{$prefix}h-100vh {
        height: 100vh !important;
        height: 100dvh !important;
    }
    .#{$prefix}min-h-100vh {
        min-height: 100vh !important;
        min-height: 100dvh !important;
    }
    .#{$prefix}max-h-100vh {
        max-height: 100vh !important;
        max-height: 100dvh !important;
    }

    .#{$prefix}h-min {
        height: min-content !important;
    }

    .#{$prefix}h-fit {
        height: fit-content !important;
    }

    .#{$prefix}h-max {
        height: max-content !important;
    }

    .#{$prefix}min-h-min {
        min-height: min-content !important;
    }

    .#{$prefix}min-h-fit {
        min-height: fit-content !important;
    }

    .#{$prefix}min-h-max {
        min-height: max-content !important;
    }

    .#{$prefix}max-h-min {
        max-height: min-content !important;
    }

    .#{$prefix}max-h-fit {
        max-height: fit-content !important;
    }

    .#{$prefix}max-h-max {
        max-height: max-content !important;
    }
}

@if ($width-height) {
    @include height("");

    @if ($width-height-prefixes) {
        @media (max-width: $mob-tab-breakpoint) {
            @include height(mob\:);
        }

        @media (min-width: ($mob-tab-breakpoint + 1px)) and (max-width: $tab-pc-breakpoint) {
            @include height(tab\:);
        }

        @media (min-width: ($tab-pc-breakpoint + 1px)) {
            @include height(pc\:);
        }
    }
}
