.static {
    position: static !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.sticky {
    position: sticky !important;
    top: 0;
    z-index: 17;
}

.fixed {
    position: fixed !important;
    z-index: 17;
}

.top:not([data-tooltip]):not(.dropdown) {
    top: 0 !important;
}

.bottom:not([data-tooltip]):not(.dropdown) {
    bottom: 0 !important;
}

.left:not([data-tooltip]):not(.dropdown) {
    left: 0 !important;
}

.right:not([data-tooltip]):not(.dropdown) {
    right: 0 !important;
}
